.card-dashboard {
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.2s;
    
}
.card-dashboard:hover {
	transform: scale(1.1); 
}


.card-dashboard img {
    width: 100%;
    height: auto;
}
.card-dashboard h1 {
   font-size: 30px;
   text-align: center;
}
