.card-dashboard {
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.2s;
}

.card-dashboard:hover {
    transform: scale(1.1);
}


.card-dashboard img {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid black;
    width: 100%;
    height: auto;
}


@media (max-width: 320px) {
	.card-dashboard {
		width: 15rem !important;
		height: 22rem !important;
	}
}