<div class="info">
    <h1 class="text-center text-indigo-900 text-6xl">Oscar Arregoces</h1>
    <h2 class="text-center text-indigo-200 text-3xl">Web Developer</h2>
    <div class="redes">
        <a href="https://github.com/OscarArregoces" target="_blank">
            <p-button class="mx-2 mt-1 mb-3" icon="pi pi-github" styleClass="p-button-secondary"></p-button>
        </a>
        <a href="https://www.linkedin.com/in/oscararregoces/" target="_blank">
            <p-button class="mx-2 mt-1 mb-3" icon="pi pi-linkedin" styleClass="p-button-success"></p-button>
        </a>
    </div>

    <p class="mt-2 text-xl text-left text-black">
        Este es un sencillo proyecto realizado íntegramente en Angular v16.0.0 y potenciado
        con la biblioteca de componentes PrimeNG v16.0.0-rc.1. Lo que hace especial a este proyecto es que es
        puramente frontend, lo que significa que no depende de ninguna API para su funcionamiento.

        Toda la información, imágenes y contenido que encontrarás aquí fueron investigados y agregados manualmente
        por mí. Cada detalle, desde la elección de imágenes hasta la disposición de la información, ha sido
        cuidadosamente considerado y diseñado para brindarte una experiencia atractiva y efectiva.

    </p>
</div>