.content-cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	place-items: center;
	grid-gap: 30px;
}

.card-dashboard {
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.2s;
}

.card-dashboard:hover {
    transform: scale(1.1);
}


.card-dashboard img {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid black;
    width: 100%;
    height: auto;
}


@media (max-width: 320px) {
	.card-dashboard {
		width: 15rem !important;
		height: 22rem !important;
	}
}


@media (min-width: 320px) and (max-width: 428px) {
	.content-cards {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (min-width: 429px) and (max-width: 768px) {
	.content-cards {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	.content-cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1025px) and (max-width: 1700px) {
	.content-cards {
		grid-template-columns: repeat(3, 1fr);
	}
}