.p-button.p-button-success {
    background: #443C68;
    border: 1px solid #443C68;
}
.p-button.p-button-success:hover {
    background: #635985;
    border: 1px solid #635985;
}


.p-button.p-button-success:active {
    background: #443C68;
    border: 1px solid #443C68;
}