<div class="grid ">
    <div class="col-12">
        <div *ngIf="ejercicios.length > 0 ;  else elseBlock " class="flex flex-wrap justify-content-center mt-5"
            [style]="{'width': '80%', 'margin':'auto'}">
            <div [style]="{ 'max-width': '25rem', 'margin':'5px' }">
                <p-card class="text-center" [style]="{ 'max-width': '25rem' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/image_ejercicios/abdomen/3.jpg" />
                        <h1>Crear</h1>
                    </ng-template>
                    <div>
                        <p-button (onClick)="handleButton()" icon="pi pi-user-plus" label="Nuevo"
                            styleClass="p-button-secondary"></p-button>
                    </div>
                </p-card>
            </div>
            <div [style]="{ 'max-width': '25rem', 'margin':'5px' }" *ngFor="let ejercicio of ejercicios">
                <app-card-rutine></app-card-rutine>
            </div>
        </div>
        <ng-template #elseBlock>
            <p class="text-center">No hay rutinas aún</p>
        </ng-template>

    </div>
</div>