<div class="col-12">
    <h1 class="text-center text-white text-4xl  md:text-6xl lg:text-7xl">¡Crear rutinas nunca fue tan facil!</h1>
</div>
<div class="col-12">
    <div *ngIf="savedRoutines.rutines.length > 0 ;  else elseBlock" class="content-cards">

        <div class="card-dashboard w-20rem h-25rem md:w-20rem md:h-25rem lg:w-25rem lg:h-30rem">
            <img alt="Card" src="assets/img/newRoutine2.png" />
            <div class="container-btnAdd">
                <p-button (onClick)="handleButton()" icon="pi pi-plus" label="Nuevo"
                    styleClass="p-button-secondary"></p-button>
            </div>
        </div>
        <div *ngFor="let rutines of savedRoutines.rutines">
            <app-card-rutine [rutine]="rutines"></app-card-rutine>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div class="container-cardNoRoutines">
        <div class="card-dashboard w-20rem h-25rem md:w-20rem md:h-25rem lg:w-25rem lg:h-30rem">
            <img alt="Card" src="assets/img/newRoutine2.png" />
            <div class="container-btnAdd">
                <p-button (onClick)="handleButton()" icon="pi pi-plus" label="Nuevo"
                    styleClass="p-button-secondary"></p-button>
            </div>
        </div>
    </div>
</ng-template>