<p-card class="text-center" [style]="{ 'max-width': '25rem' }">
    <ng-template pTemplate="header">
        <img title="Ejercicio" alt="Ejercicio" [src]="ejercicio.img" />
        <h1>{{ ejercicio.type}}</h1>
    </ng-template>
    <div>
        <p-button [disabled]="!status" (onClick)="addExercie()" icon="pi pi-check" styleClass="p-button-success"></p-button>
        <p-button [disabled]="status" (onClick)="removeExercie()" icon="pi pi-times" styleClass="p-button-danger"
            [style]="{ 'margin-left': '.5em' }"></p-button>
    </div>
</p-card>
